*{
    padding: 0;
    margin: 0;
    box-sizing: border;
}
@font-face {
    font-family: "Figtree";
    src: 
    local("Figtree-VariableFont_wght"),
    url("Figtree-VariableFont_wght.ttf");
}
ul{
    display: flex;
    list-style-type: none;
    align-items: center;
    gap: 1rem;
}
.container div:nth-child(2) ul li:nth-child(2){
    font-weight: bold;
    font-size: 1rem;
}
body{
    background-color: hsl(47, 88%, 63%);
    padding: 5rem 1rem;
    font-family: Figtree;

}
@media (min-width:768px) {
    body{
        padding: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 100vh;
    }
    
}
.container{
    max-width: 500px;
    margin-inline:  auto;
    background-color: #fff;
    padding: 1rem;
    border: 1px solid black;
    border-radius: 1rem;
    box-shadow: 10px 10px 0px black;
    
}
.container div:nth-child(2) h2{
    display: inline-block;
    background-color: hsl(47, 88%, 63%);
    border-radius: 0.5rem;
    font-size: 16px;
    padding:3px 8px ; 
    margin: 1.5rem 0 1rem ; 
}
.published{
    margin-bottom: 1rem;
}
 h1{
    margin-bottom: 1rem;
}
h1:hover{
    color: hsl(47, 88%, 63%);
    cursor: pointer;
}
.container div:first-child img{
    border-radius: 1rem;
    width: 100%;

}

.content{
    font-size: 16px;
    color: hsl(0, 0%, 50%);
    margin-bottom: 3rem;
}
